# Backend API URL
VITE_BACKEND_URL=http://localhost:5000

# Admin Credentials (For Dashboard access)
VITE_ADMIN_EMAIL=admin_email
VITE_ADMIN_PASSWORD=admin_password

# Razorpay Key ID (Get test key from Razorpay dashboard)
VITE_RAZORPAY_KEY_ID=rzp_test_placeholder_key

# Firebase Client Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
